<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e7c15fdb77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <title>clown central</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'clown_home' %}"><span class="h3"><i class="fas fa-frog"></i> clown central</span></a>
      <form class="form-inline ml-auto">
        {% if user.is_authenticated %}
        <a class='btn btn-success' href="{% url 'add_post' %}">Create Post</a>
        <div class="text-white ml-3">Hello, <strong>{{user.username}}</strong>!</div>
          {% if user.is_superuser %}
          {% endif %}
        <a href="/accounts/logout/" class="btn btn-danger ml-2">Log Out</a>
        {% else %}
        <a href="/accounts/login/" class="btn btn-secondary ml-2">Log In</a>
        <a href="/accounts/signup/" class="btn btn-primary ml-2">Sign Up</a>
        {% endif %}
      </form>
    </nav>
    <main role="main" class="container w-75 mx-auto" style="margin-top: 4vh;">
      {% block content %}
      
      {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
  </body>


